.site-content { 
    padding-top: 60px;
    .container {
        padding: 0;
        .index-right {
            position: fixed;
            right: 10px;
            top: 125px;
            .btn-calendar {
                position: relative;
                top: -25px;
                right: 40px;
            }
    
            .btn-orange {
                color: #fff;
                background-color: #D46845;
                border-color: #D46845;
            }
    
            p {
                cursor: pointer;
                margin-bottom: 0;
                &:hover, &.active {
                    color: #D46845;
                    font-weight: bold;
                }
            }
        }
        .list-wrapper {
            padding: 20px 0;
            .row-item {
                padding: 0;        
            }
        }
    }        
}