<div class="site">
  <div class="site-content">
    <div class="container">
      <div class="index-right">
        <button class="btn-calendar btn-orange" role="button" (click)="gotoCalendar()">Calendar</button>
        <div *ngFor="let key of index">
          <p (click)="indexTo($event,key)" >{{key}}</p>
        </div>
      </div>

      <div class="list-wrapper">
        <div *ngFor="let key of index" class="row-item">
          <p class="list-index" id="index{{key}}">{{key}}</p>

          <div *ngFor="let d of groupedData[key]" class="row-item">
            <p>{{d.name}}</p>
          </div>
        </div>
      </div>

    </div>
  </div>
</div>